/* ----------------------------- */
/* ==reset */
/* ----------------------------- */

/* base font-size corresponds to 10px and is adapted to rem unit */
html {
	font-size: 62.5%;
}
body {
	background-color: #fff;
color:black;
      background-image:url(image/background.png);
      background-repeat:no-repeat;
      background-position:center;
      background-size:cover;
color:white;
      min-height:60px;
      font-family: "Century Gothic", helvetica, arial, sans-serif;
      font-size: 1.4em; /* equiv 14px */
      line-height: 1.5; /* adapt to your design */
}
div.footer{
	background-color:black;
color:white;
position: fixed;
bottom: 0px;
width: 100%;
}
.boutonApp{
height:10%;
font-size:25px;	
width:20%;
}
div.header{
	background-color:black;
color:white;
position: absolute;
top: 0px;
width: 100%;
}
div.contenu{
	color:black;
     	max-height:95%;
     	max-width:95%;
	min-width:65%;
      	min-height:400px;
      	margin-top:18%;
      	overflow: auto;
	line-height:none;
	padding:0;
}
.Check{
	height:30px;
	width:30px;
}
table.connexion{
color:black;
      margin-top:3%;
height:30%;
width:95%;
}
input.tab_connec{
height:80px;
width:480px;
}
label.error{
color:red;
      min-width:100%;
      text-align:left;
      margin-left:4px;	
}
.boutonCo{
height:80px;
font-size:25px;	
width:200px;
}
table.appli{
	margin-top:10%;
	border-width:1px;
	width:65%;
	color:black;
}
th{
	border-style:solid;	
	border-color:black;
}
.divApp{
	min-width:99%;
	min-height:400px;
	border-style:solid;
	border-width:thin;
	display:none;	
	color:black;
}
.liste{
color:black;
      border-collapse:collapse;
      border-style:solid;
      border-width:thin;	
}
.tdListe{
	border-style:solid;                                                                   
	text-align:center;
	border-width:thin;		
}
.tableInscrip{
color:black;
      line-height:none;
      border-spacing:0;
margin:0;
       margin-left:-10px;
padding:0;

}

.tdInscript{
	min-width:160px;
height:5px;
}
/* font-sizing for content */
/* preserve vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
p,
	ul,
	a,
	ol,
	dl,
	blockquote,
	pre,
	td,
	th,
	label,
	select,
	textarea,
	caption,
	details, 
	figure, 
	hgroup {
		font-size: 25px; /* equiv 14px */
		line-height: 1.5;
margin: 1.5em 0 0;
	}
h1, .h1-like {
	font-size: 40px; /* equiv 26px */
	font-weight: normal;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif
		line-height: 1.6154em;
margin: .8077em 0 0 0;
}
h2, .h2-like {
	font-size: 34px; /* equiv 24px */
	font-weight: normal;
	line-height: 1.75em;
margin: .875em 0 0 0;
}
h3, .h3-like {
	font-size: 25px; /* equiv 22px */
	font-weight: normal;
	line-height: 1.909em;
margin: .9545em 0 0 0;
}
h4, .h4-like {
	font-size: 25px; /* equiv 20px */
	font-weight: normal;
	line-height: 1.05em;
margin:  1.05em 0 0 0;
}
h5, .h5-like {
	font-size: 25px; /* equiv 18px */
	font-weight: normal;
	line-height: 1.1667em;
margin:  1.1667em 0 0 0;
}
h6, .h6-like {
	font-size: 1.1429em; /* equiv 16px */
	font-weight: normal;
	line-height: 1.3125em;
margin:  1.3125em 0 0 0;
}

/* alternate font-sizing */
.smaller {
	font-size: .7143em; /* equiv 10px */
	line-height: 2.1em;
}
.small {
	font-size: .8571em; /* equiv 12px */
	line-height: 1.75em;
}
.big {
	font-size: 1.1429em; /* equiv 16px */
	line-height: 1.3125em;
}
.bigger {
	font-size: 1.2857em; /* equiv 18px */
	line-height: 1.1667em;
}
.biggest {
	font-size: 1.4286em; /* equiv 20px */
	line-height: 1.05em;
}

/* soft reset */
html,
	body,
	textarea,
	figure,
	label {
margin: 0;
padding: 0;
	}
ul,
	ol {
		padding-left: 2em;
	}
code, 
	pre,
	samp {
		white-space: pre-wrap;
		font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
	}
code { line-height: 1em; }
table { margin-bottom: 1.5em; }

/* avoid top margins on first content element */
p:first-child,
	ul:first-child,
	ol:first-child,
	dl:first-child,
	blockquote:first-child,
	pre:first-child,
	h1:first-child,
	h2:first-child,
	h3:first-child,
	h4:first-child,
	h5:first-child,
	h6:first-child {
		margin-top: 0;
	}

/* avoid margins on nested elements */
li p,
   li ul,
   li ol {
	   margin-top: 0;
	   margin-bottom: 0;
   }

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
display: block;
}

/* max values */
table, td, blockquote, code, pre, textarea, input, video {
	max-width: 100%;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
hyphens: auto;
}

/* pictures */
img {
width: auto;
height: auto;
	vertical-align: middle;
}
a img { border: 0; }

/* scripts */
body > script {display: none !important;}

/* skip-links */
.skip-links {
position: absolute;
}
.skip-links a {
position: absolute;
left: -9999px;
padding: 0.5em;
background: #000;
color:#fff;
      text-decoration: none;
}
.skip-links a:focus {
position: static;
}
